<a href="https://colab.research.google.com/github/Lamy01/Apprentissage_GIT/blob/main/Introduction_%C3%A0_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Qu'est-ce que les pandas ?

\
**Pandas** est une librairie Python utilisée pour manipuler des ensembles de données.

Elle possède des fonctions d'analyse, de nettoyage et d'exploration des données

## Pourquoi utiliser Pandas ?

\

**Pandas** nous permet d'analyser des données volumineuses et de tirer des conclusions fondées sur des théories statistiques.

**Pandas** peut nettoyer des ensembles de données désordonnés et les rendre lisibles et pertinents.

La pertinence des données est très importante en science des données.

## Importer Pandas

In [1]:
import pandas 
import pandas as pd # importer pandas en utilisant un alias

## Vérification de la version de Pandas

In [2]:
# version de pandas 
pd.__version__

'1.5.3'

## DataFrames

\
Les ensembles de données dans Pandas sont généralement des tableaux multidimensionnels, appelés DataFrames.

In [7]:
data = {
  "calories": [420, 390, 390, 389, 340, 350, 342, 560, 340, 490],
  "duration": [50, 40, 40, 45, 56, 39,50, 51, 42, 43]
}
# data = dict()
df=pd.DataFrame(data)

In [8]:
df

   calories  duration
0       420        50
1       390        40
2       390        40
3       389        45
4       340        56
5       350        39
6       342        50
7       560        51
8       340        42
9       490        43

### Retrouver les valeurs d'une ou plusieurs lignes 

\
Les pandas utilisent l'attribut **loc** pour retourner une ou plusieurs lignes spécifiées.

In [10]:
# Retourne les valeurs de la première ligne
df.loc[1]

calories    390
duration     40
Name: 1, dtype: int64

In [12]:
# Retourne les valeurs avec iloc
df.iloc[:1]

   calories  duration
0       420        50

In [11]:
# Retourne les valeurs de la première et deuxième ligne 
df.loc[[0,1,2,3]]

   calories  duration
0       420        50
1       390        40
2       390        40
3       389        45

In [13]:
#Retourne les valeur de plusieur ligne avec iloc
df.iloc[[0,1,2],0]

0    420
1    390
2    390
Name: calories, dtype: int64

In [18]:
#Retourner plusieur valeur avec loc
df.loc[[0,1,2],'calories']

0    420
1    390
2    390
Name: calories, dtype: int64

In [20]:
#Retouner plusieur valeur avec loc
df.loc[[0,1,2,4],['calories', 'duration']]

   calories  duration
0       420        50
1       390        40
2       390        40
4       340        56

In [22]:
#Retourner plusieur valeurs avec iloc

df.iloc[[0,1,2],[0,1]]

   calories  duration
0       420        50
1       390        40
2       390        40

In [23]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df1 = pd.DataFrame(data, index = ["day1", "day2", "day3"])

In [24]:
df1

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [25]:
data={
    "":[420,380,390],
    "":[50,40,45]
}
df2=pd.DataFrame(data, index=["day1","day2","day3"],columns=['calories','duration'])

In [29]:
df1.columns=['Calories','Duration']

In [30]:
df1.index=["Day1", "Day2", "Day3"]

In [31]:
df1

      Calories  Duration
Day1       420        50
Day2       380        40
Day3       390        45

In [ ]:
# Retourner la ligne d'index day1

In [ ]:
# Retourner les lignes d'index day1 et day2

### Retourner les valeurs d'une variable ou plusieurs variables

In [ ]:
# Retouner les valeurs d'une variable

In [ ]:
# Retourner les valeurs de plusieurs

### Retourner les valeurs d'une ligne ou plusieurs suivant une variable ou plusieurs

In [ ]:
# Retourner une ligne ou plusieurs suivant une ou plusieurs variables

## Charger des fichiers dans un DataFrame

In [ ]:
df = pd.read_csv('data.csv')
# df = pd.read_excel('data.xlsx')

## Afficher les données

In [ ]:
# La méthode head() renvoie les en-têtes et un nombre spécifié de lignes, en commençant par le haut.

In [ ]:
# La méthode tail() renvoie les en-têtes et un nombre spécifié de lignes, en commençant par le bas.

In [ ]:
# Retourner la dimension des données

In [ ]:
# Retourner la liste des noms columns

In [ ]:
# Retourner les index

### Décrire les données

In [ ]:
# Décrire les données

## Informations sur les données

In [ ]:
# Infos des données

## Pandas - Nettoyage des données

In [ ]:
# Importer les données
df = pd.read_csv('data.csv')

### Vérifier l'éxistence de valeurs manquantes

In [ ]:
# Existence de valeurs manquantes

### Supprimer les lignes

In [ ]:
# Supprimer les valeurs manquantes avec dropna

In [ ]:
# Supprimer les valeurs manquantes sur les variables concernées
df = pd.read_csv('data.csv')

### Remplacer les valeurs manquantes

In [ ]:
# Remplacer les valeurs manquantes par une valeur donnée en utilisant fillna()
df = pd.read_csv('data.csv')

In [ ]:
# Remplacer les valeurs manquantes d'une variable spécifique
df = pd.read_csv('data.csv')

In [ ]:
# Remplacer les valeurs manquantes de plusieurs variables spécifiques
df = pd.read_csv('data.csv')

### Remplacer les valeurs manquantes par la moyenne, la médiane ou le mode

In [ ]:
# Par la moyenne
df = pd.read_csv('data.csv')

In [ ]:
# Par la médiane
df = pd.read_csv('data.csv')

In [ ]:
# Par le mode
df = pd.read_csv('data.csv')

### Vérifier les types de données

In [ ]:
# Vérifier les types de données
df = pd.read_csv('data.csv')

## Convertir dans un format correct

In [ ]:
# Convertir calories en integer en utilisant astype
df = pd.read_csv('data1.csv')

calories    float64
duration    float64
date         object
dtype: object

In [ ]:
# Convertir date en datetime en utilisant astype

In [ ]:
# Convertir en utilisant to_numeric
df = pd.read_csv('data2.csv')

calories    0
duration    0
date        0
dtype: int64

In [ ]:
# Convertir en utilisant to_datetime
df = pd.read_csv('data2.csv')

## Découvrir les doublons

In [ ]:
# Doublons
df = pd.read_csv('data.csv')

## Supprimer les dooublons

In [ ]:
# Supprimer les doublons

### Suppression de colonnes ou lignes

In [ ]:
# suppression de colonnes (axis = 1)
df = pd.read_csv('data.csv')

In [ ]:
# suppression de lignes (axis = 0)